 /*fonts*/
 @font-face {
   font-family: "MuseoSans300";
   src: url("../fonts/Museo/museosanscyrl-300.ttf");
 }

 @font-face {
   font-family: "MuseoSans500";
   src: url("../fonts/Museo/museosanscyrl-500.ttf");
 }

 @font-face {
   font-family: "MuseoSans900";
   src: url("../fonts/Museo/museosanscyrl-900.ttf");
 }

 @font-face {
   font-family: "MuseoSans700";
   src: url("../fonts/Museo/museosanscyrl-700.ttf");
 }

 body {
   margin: 0;
   padding: 0;
 }

 /*title*/
 .profile_selection_title_container {
   width: 80%;
   display: flex;
   margin: 0 auto;
   margin-top: 2%;
   margin-bottom: 20px;
 }

 .profile_selection_title_container_item {
   grid-area: cardtm;
   font-family: "MuseoSans900";
   font-size: 28px;
   text-transform: uppercase;
   margin-top: 5px;

 }

 .profile_selection_title_container_item_theme {
   position: relative;
   color: #000000;
   font-weight: normal;
   padding: 8px 10px 7px 10px;
   border-top: 4px solid;
   border-left: 4px solid;
   display: inline-block;
   margin: 0;
   line-height: 1;
 }


 .history_selection_content {
   width: 80%;
   display: flex;
   margin: 0 auto;
   padding-top: 0.7%;
   background-color: #FFFFFF;

   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
 }

 
 .history_title_query {
  width: 78%;

  margin: 0 auto;
  background-color: #FFFFFF;
  text-align: left;
  color: #000000;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: "MuseoSans700";
  font-size: 22px;

}

 
.history_title_query_result {
  width: 78%;

  margin: 0 auto;
  background-color: #FFFFFF;
  text-align: left;
  color: #000000;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: "MuseoSans700";
  font-size: 22px;
  text-decoration: underline;

}

.h_query{
  color: #000000;
    font-family: "MuseoSans500";
    font-size: 16px;
    line-height: 1.4;


}

  
 .profile_double-border-button {
   outline:none;
   text-decoration: none;
   display: inline-block;
   margin: 0px 5px;
   padding: 10px 20px;
   position: relative;
   border: 2px solid #FFE600;
   background-color: #FFE600;
   border-radius: 20px;
   min-width: 90px;
   color: #000000;
   font-family: "MuseoSans500";
   font-size: 16px;
   line-height: 1.4;
   transition: .4s;
 }

 .profile_double-border-button:hover {
   background: linear-gradient(90deg, #FFE600 10%, rgb(255, 255, 255));
 }

 .user_name{
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 1%;

 }

 .title_name{
  color: #000000;
    font-family: "MuseoSans500";
    font-size: 16px;
    line-height: 1.4;
 }

 
 .user_title{
  width: 110px;
  color: #000000;
  font-family: "MuseoSans500";
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
 }

 .user_description{
  margin-left: 1%;
  margin-top: 1%;
 }
 .user_nav_menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1%;
  padding-top: 1%;

 }

 .user_button_update{

  margin: 0;
  margin-left: 50px;

 }

 .user_button_exit{
  margin: 0;

 }

 .profile_wrapper {
   width: 80%;
   height: auto;
   margin: 0 auto;
   background: #FFFFFF;
   padding-bottom: 1%;
 }

 .wrapper_open {
   padding-bottom: 0%;
 }

 .title_question {
   text-align: center;

   color: #000000;
   padding: 2% 2%;
   font-family: "MuseoSans700";
   font-size: 22px;
   width: 96%;
 }


 .question {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 @keyframes ani {
   0% {
     opacity: 0;
   }

   100% {
     opacity: 1;
   }
 }

 #q1 {
   display: none;
   opacity: 0;
   animation: ani 1s forwards;

 }

 #q2 {
   display: none;
   opacity: 0;
   animation: ani 1s forwards;
 }

 #q3 {
   display: none;
   opacity: 0;
   animation: ani 1s forwards;
 }

 #q4 {
   display: none;
   opacity: 0;
   animation: ani 1s forwards;
 }

 #q5 {
   display: none;
   opacity: 0;
   animation: ani 1s forwards;
 }

 .push {
   background-color: #FFE600;
 }

 .pushblock {

   display: block;
 }

 .button_selection {
   text-decoration: none;
   display: inline-block;
   margin: 0px 5px;
   padding: 10px 20px;
   position: relative;
   border: 2px solid #000000;
   background-color: rgb(255, 255, 255);
   color: #000000;
   font-family: "MuseoSans500";
   font-size: 16px;
   line-height: 1.4;
   transition: .4s;

 }

 .but_search {
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 2% 2%;
 }


 /**/

 /**/
 #history_gtco-post-list {
   display: flex;
   flex-direction: column;
   padding: 0;
   width: 30.5%;

   margin: 1% 1% 1% 1%;

   list-style: none;
   min-height: 100px;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   float: left;
   clear: left;
   position: relative;
   background: #fff;
   border: 4px solid #414040;

   border-radius: 15px;
 }

 .history_entry a {
   text-decoration: none;

 }

 #history_gtco-post-list a:active {
   color: black;

 }

 #history_gtco-post-list a:link {
   color: black;

 }

 #history_gtco-post-list a:visited {
   color: black;

 }
 .history_cont{
  margin-bottom: 1.5%;
 }

 .history_asd {
   display: flex;
   flex-direction: row;
 }


 .history_entry .history_entry-img {
   margin: 2% 2%;
   background-position: center;
   background-size: 80px;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   min-height: 70px;
   width: 20%;

 }

 .history_entry .history_entry-desc {
   padding: 15px;
   padding-top: 10px;
   width: 76%;
   min-height: 70px;
   color: #000000;
   font-family: "MuseoSans500";
   font-size: 16px;
   line-height: 1.4;
   padding: 2% 2%;



 }



 .history_title_eq {

   text-align: left;
   color: #000000;
   width: 90%;
   margin: 0 auto;
   margin-top: 3%;
   margin-bottom: 3%;

   font-family: "MuseoSans700";
   font-size: 22px;
   padding: 2%;
   background-color: #FFE600;



 }


 .history_size_eq {
   display: flex;
   flex-direction: row;
   padding: 2%;
   text-decoration: underline;
   margin: 0 auto;
 }


 @media(max-width: 1200px) {
   #gtco-post-list {
     width: 47%;
   }
  .recomendations_choice{
    width: 97%;
  }
 }

 @media(max-width: 900px) {


   .selection_content {
     width: 97%;
   }

   #resorts_item {
     width: 97%;
     margin-bottom: 20px;
     min-height: 350px;
   }

   .resort_title_container {
     width: 97%;
   }

   #profile_sel_content {
     width: 97%;
   }




 }

 .button_post_add{
     margin: 0;
 }
