<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обучение</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/education_snow_level_3.css" type="text/css">
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="stylesheet" href="./fonts/font-awesome-4.7.0/css/font-awesome.min.css">

</head>

<body>
<section id="header">
    <a class="logo" href="http://localhost:8100">
        <img th:src="@{../images/iconex2.png}" alt="" height="45px">
        <div class="logo_title">HILL LIFE</div>
    </a>

    <div style="display: flex;">
        <ul id="header_navigation">
            <li>
                <a class="link nav_link_project" href="http://localhost:8100/about">О проекте</a>
            </li>
            <li>
                <a class="nav_link1 link" href="http://localhost:8100/blog">Лента</a>
            </li>
            <li>
                <a class="link nav_link2" href="http://localhost:8100/education">Новичкам</a>
            </li>
            <li>
                <div class="dropdown">
                    <a class="link nav_link3" href="http://localhost:8100/resorts">Курорты</a>
                    <div id="sublink" class="dropdown-content">
                        <a href="http://localhost:8100/resorts?place=Россия">Россия</a>
                        <a href="http://localhost:8100/resorts?place=Зарубежье">Зарубежье</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="link nav_link4" href="http://localhost:8100/cart">Подбор снаряжения</a>
                    <div id="sublink1" class="dropdown-content">
                    </div>
                </div>
            </li>
            <li id="lc">
                <a href="http://localhost:8100/profile">
                    <button th:if="${fullname} == null" class="nav_link5">Профиль</button>
                    <button th:if="${fullname} != null" th:text="${fullname}" class="nav_link5">Профиль</button>
                </a>
            </li>
            <a href="#" id="close"><img th:src="@{../images/close.png}" height="20px"></a>

        </ul>
    </div>
    <div id="mobile">
        <a href=""><i style="color:aliceblue" class="fas fa-user"></i></a>
        <i id="bar" class="fas fa-outdent"></i>

    </div>
</section>

    <div class="selection_title_container">
        <div class="selection_title_container_item">
            <div class="selection_title_container_item_theme">Уровень 3. Соскальзывание вниз по склону</div>
        </div>
    </div>

    <div id="sel_content" class="wrapper">

        <div id="quest1">

            <div class="edu_img1">
                <img class="img1" src="./images/edus7.png">
            </div>

            <div class="title1">
                Выбираем точку старта, чтобы не утаскивало в лес
            </div>
            <div class="title2">
                Если внимательно присмотреться к трассе, то можно заметить, что в разных её частях она наклонена в
                разные стороны. Из-за этого новичков часто уносит не туда. Ведь поначалу перекосы трассы не видно.
                Кажется, что у склона есть только вершина, с которой стартуют, и подножие, куда надо катиться. Но, к
                сожалению, это не так. Трасс, где уклон равномерный на протяжении всего склона безумно мало. Поэтому,
                если не обращать на это внимание, то доску будет тащить в сторону, стойка собьётся, а вы не поймёте,
                почему учиться так сложно. Уклоны эти называются линиями ската или линиями падения склона.
            </div>
            <div class="edu_img1">
                <img class="img1" src="./images/edus8.png">
            </div>

            <div class="title2">
                Линия ската — это линия, по которой покатится баскетбольный мяч или сноуборд, если его отпустить. Она
                может быть направлена в сторону леса, подъёмника, иногда даже в противоход движению. Её обязательно
                нужно учитывать, чтобы выбрать правильную точку старта и сосредоточиться на движениях, а не на борьбе со
                сноубордом. Проще всего определить направление склона можно с нижней точки: во время подъёма или
                ожидания в очереди. Сверху определить её сложнее, потому что взгляд цепляется за то, что происходит
                внизу, а изломы не так заметны. Если вы видите, что кого-то неуправляемо понесло в сторону леса, то
                скорее всего туда направлена линия ската.
            </div>
            <div class="title2">
                Неверная оценка линии ската приводит к падениям на всех этапах развития сноубордиста. Она тащит доску в
                лес и мешает почувствовать распределение веса. Создаёт впечатление, что в одну сторону катиться проще,
                чем в другую. Цепляется за сноуборд и роняет человека на снег. Не даёт переходить с канта на кант и
                мешает делать симметричные дуги. Во фристайле портит заход на трамплин и перила. В общем, если доску
                тащит не туда, а вы постоянно падаете, — сошлитесь на линию ската. Это она во всём виновата.
            </div>
            <div class="title2">
                &bull; Выбрать удобную линию ската получится не всегда. Иногда она будет начинаться в середине склона и
                добираться до неё будет опасно. Стартуйте оттуда только если на склоне никого нет.
                <br>
                &bull; Прежде, чем пристёгивать доску, посмотрите откуда стартуют и куда катятся новички. Так, вы
                примерно представите, куда понесёт доску.
            </div>

            <div class="line">

            </div>
            <div class="slogan">
                Отстраивайте все движения от линии ската.
            </div>

            <div class="line">

            </div>
            <div class="title1">
                Пристёгиваем обе ноги и встаём
            </div>

            <div class="title2">
                Поначалу пристёгивать доску лучше сидя. Если делать это стоя, то велик риск, что она сразу покатится, а
                вы к этому будете не готовы. Чтобы сходу зафиксировать доску на снегу и не искать нужную сторону, носите
                сноуборд скользяком к себе, а носки креплений направляйте в сторону снега. Из такого положения сноуборд
                удобно перехватывать за высокие задники креплений — хайбэки, и втыкать в склон. Когда кант упрётся в
                снег, то доска уже никуда не денется. Можно садиться, и пристёгивать ремешки. Проконтролируйте пятки —
                между ними и креплениями не должно быть зазора.
            </div>
            <div class="title2">
                Встать и стоять на канте сноубордистам сложно. В покое тратится слишком много сил, чтобы ловить баланс и
                стоять ровно. Для примера представьте, что встали на узкую трубу и ваша задача простоять как можно
                дольше. Поначалу всё выглядит довольно легко, но постепенно тело начинает «колебаться», мышцы
                напрягаются и вы теряете равновесие. Поэтому сноубордисты не стоят, а сидят или сразу едут. Из-за этого
                на учебных склонах часто творится вакханалия. Друзья садятся в ряд и перегораживают трассу, новички
                отдыхают по середине, а остальные матерятся и как-то всё это объезжают. Иногда тараном.
            </div>

            <div class="title2">
                &bull; Если снег мягкий и кант в нём утопает, то стоять на сноуборде получится легче, чем на жесткой
                трассе. Но учиться по такому снегу фигово — кант то и дело цепляется за бугорки.
                <br>
                &bull; Прежде чем вставать нужно развернуть доску поперёк линии ската, опереться на сильную руку, а
                второй — потянуться вперёд. После этого разогнуть ноги и приготовится к тому, что сноуборд начнёт
                разгоняться. Желательно не в кусты.
            </div>

            <div class="line">

            </div>
            <div class="slogan">
                Вставайте, когда доска развёрнута поперёк линии ската.
            </div>

            <div class="line">

            </div>
            <div class="title1">
                Передний и задний кант при этом работают в связке
            </div>

            <div class="title2">
                Сноуборд управляется за счёт переноса веса. Когда вы стоите на канте, а вес держите равномерно на двух
                ногах, то нос и хвост доски прижаты к склону одинаково. Если опустить носки и податься вперёд, то доска
                покатится по линии ската. Если перенести вес на левую ногу, то доска скрутится и покатится влево. Если
                перенести на правую — вправо. Это происходит из-за того, что часть доски под «придавленной» ногой встаёт
                на скользяк, а другая продолжает упираться в склон. Позже мы к этому вернёмся, а сначала поймём, как
                остановить сноуборд.
            </div>
            <div class="title2">
                Когда сноуборд катится, то между скользящей поверхностью и склоном возникает определённый угол. Он
                называется углом закантовки и отвечает за контроль скорости. При маленьком угле доска почти не встречает
                сопротивления склона и катится быстро. При большом наоборот — упирается сильно и тормозит. Если доску
                несёт, значит угол закантовки слишком мал для данного склона. Чтобы притормозить, её нужно сильнее
                поставить на кант. Если доска не катится, значит угол слишком большой и его нужно уменьшить. Наша задача
                — научиться менять угол закантовки за счёт правильных движений.
            </div>
            <div class="edu_img1">
                <img class="img1" src="./images/edus9.png">
            </div>
            <div class="line">

            </div>
            <div class="slogan">
                Научитель менять угол закантовки.
            </div>

            <div class="line">

            </div>

            <div class="title2">
                Передний кант аналогичен. При старте нужно оторвать руки от склона, выпрямиться и смелым движением подтолкнуть таз вперёд, чтобы
                вес оказался над передним кантом. Тогда пятки сами оторвуться от снега, за счёт правильной структуры
                тела, а нагрузка распределится по всем суставам. Менять угол закантовки в этом случае будет легко — чуть
                потянули пятки вниз и доска поехала. Но если таз окажется над центром доски, то вся нагрузка ляжет на
                «хилый» голеностоп, который с непривычки воткнёт кант в снег, а вы закрутите сальто назад.
            </div>
            <div class="line">

            </div>
            <div class="slogan">
                Тренируйте оба канта равноценно.
            </div>

            <div class="line">

            </div>
            <div class="edu_img1">
                <img class="img1" src="./images/edus10.png">
            </div>

            




        </div>

        <div id="buttonres" class="resbut">
            <div><a onclick="location.href='/education?sport=сноуборд&level=3'" class="double-border-button">Следующий уровень</a></div>
        </div>





    </div>

    <div id="descr_result" class="recomendations_choice">
        <div class="rec_content">
            <div id="str1" class="title_recom"></div>
            <div id="str2" class="descr_recom">

            </div>
            <div id="str3" class="descr_recom">

            </div>
        </div>

    </div>

    <footer class="section-p1 footer">
        <div class="col">
            <a href="./index.html"><img src="./images/iconex2.png" alt="" class="footer_logo" height="60px"></a>


        </div>
        <div class="col1">
            <h4>Навигация</h4>
            <a href="./blog.html">Лента</a>
            <a href="#">Обучение</a>
            <a href="./resorts.html">Курорты</a>
            <a href="#">Инвентарь</a>

        </div>

        <div class="col2">
            <h4>Мой аккаунт</h4>
            <a href="./login_form.html">Войти</a>
            <a href="#">Зарегистрироваться</a>
            <a href="#">Помощь</a>
        </div>
        <div class="col3">
            <h4>Контакты</h4>
            <p><strong>Адрес:</strong> г.Москва</p>
            <p><strong>Телефон:</strong> +7(999)999 99 99</p>
            <p><strong>Часы работы:</strong> круглосуточно</p>
            <div class="follow">
                <h4>Подписывайся: <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </h4>

            </div>


        </div>

    </footer>
    <script src="./js/script.js"></script>
    <script type="text/javascript">



    </script>
</body>

</html>