<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    



    <link rel="stylesheet" href="../css/login_form.css" type="text/css">


</head>
<body>

    <div class="box">
        <div class="form">
            <h2>Авторизация</h2>
            <div class="input_box">
                <input type="text" required="required">
                <span>Почта</span>
                <i></i>
            </div>
            <div class="input_box">
                <input type="password" required="required">
                <span>Пароль</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Забыли пароль?</a>
                <a href="#">Регистрация</a>
            </div>
            <input type="submit" value="Войти">
        </div>
    </div>
</body>

</html>