<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курорты</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/selection_equipment.css" type="text/css">
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="stylesheet" href="./fonts/font-awesome-4.7.0/css/font-awesome.min.css">

</head>

<body>
<section id="header">
    <a class="logo" href="http://localhost:8100">
        <img th:src="@{../images/iconex2.png}" alt="" height="45px">
        <div class="logo_title">HILL LIFE</div>
    </a>

    <div style="display: flex;">
        <ul id="header_navigation">
            <li>
                <a class="link nav_link_project" href="http://localhost:8100/about">О проекте</a>
            </li>
            <li>
                <a class="nav_link1 link" href="http://localhost:8100/blog">Лента</a>
            </li>
            <li>
                <a class="link nav_link2" href="http://localhost:8100/education">Новичкам</a>
            </li>
            <li>
                <div class="dropdown">
                    <a class="link nav_link3" href="http://localhost:8100/resorts">Курорты</a>
                    <div id="sublink" class="dropdown-content">
                        <a href="http://localhost:8100/resorts?place=Россия">Россия</a>
                        <a href="http://localhost:8100/resorts?place=Зарубежье">Зарубежье</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="link nav_link4" href="http://localhost:8100/cart">Подбор снаряжения</a>
                    <div id="sublink1" class="dropdown-content">
                    </div>
                </div>
            </li>
            <li id="lc">
                <a href="http://localhost:8100/profile">
                    <button th:if="${fullname} == null" class="nav_link5">Профиль</button>
                    <button th:if="${fullname} != null" th:text="${fullname}" class="nav_link5">Профиль</button>
                </a>
            </li>
            <a href="#" id="close"><img th:src="@{../images/close.png}" height="20px"></a>

        </ul>
    </div>
    <div id="mobile">
        <a href=""><i style="color:aliceblue" class="fas fa-user"></i></a>
        <i id="bar" class="fas fa-outdent"></i>

    </div>
</section>

<div class="selection_title_container">
    <div class="selection_title_container_item">
        <div class="selection_title_container_item_theme">Подбор горнолыжного снаряжения</div>
    </div>
</div>

<div id="sel_content" class="wrapper">
    <div id="q0">
        <div class="title_question">Выберите вид горного спорта</div>
        <div class="question">
            <input type="button" class="double-border-button" id="button_sport1" value="Сноуборд">
            <input type="button" class="double-border-button" id="button_sport2" value="Лыжи">
        </div>
    </div>
    <div id="q1">
        <div class="title_question">Оцените уровень своего катания</div>
        <div class="question">
            <input type="button" class="double-border-button" id="button_skill1" value="Начинающий">
            <input type="button" class="double-border-button" id="button_skill2" value="Продвинутый">
            <input type="button" class="double-border-button" id="button_skill3" value="Эксперт">
        </div>
    </div>
    <div id="q2">
        <div class="title_question">Выберите пол</div>
        <div class="question">
            <input type="button" class="double-border-button" id="button_gender1" value="Мужской">
            <input type="button" class="double-border-button" id="button_gender2" value="Женский">
            <input type="button" class="double-border-button" id="button_gender3" value="Детский">
        </div>
    </div>
    <div id="q3">
        <div class="title_question">Введите вес</div>
        <div class="question">
            <input type="text" class="double-border-inp" id="button_w" pattern="[0-9]{1,3}">
        </div>
    </div>
    <div id="q6">
        <div class="title_question">Введите размер ноги (размер RU)</div>
        <div class="question">
            <input type="text" class="double-border-inp" id="button_foot" pattern="[0-9]{1,2}">
        </div>
    </div>

    <div id="q4">
        <div class="title_question">Введите рост</div>
        <div class="question">
            <input type="text" class="double-border-inp" id="button_h" pattern="[0-9]{1,3}">

        </div>
    </div>
    <div id="q5" class="but_search">
        <div><a onclick="location.href='/cart?'+link()" class="button_selection">Подобрать снаряжение</a>
        </div>
        <!--location.href='/cart?'+ -->
    </div>



</div>



    </div>
    <div class="selection_content">




        <div th:if="${mainItem != null}" id="gtco-post-list">
            <div class="entry">
                <a href="./blog_sample.html">
                    <div class="asd">
                        <div class="entry-img" th:style="'background-image: url(../images/' + ${mainItem.getItemPicturePath()} + ')'">

                        </div>
                        <div class="entry-desc">
                            <div th:text="${mainItem.getItemName()}" class="title_eq">
                                Название
                            </div>
                            <div th:text="${mainItem.getItemDescription()}" class="descr_eq">
                                Описание
                            </div>
                            <div class="size_eq">
                                Рекомендуемая длина:&nbsp;
                                <div th:if="${len} == null" class="size_num">
                                     Не указано
                                </div>
                                <div th:if="${len} != null" th:text="${len}" class="size_num">
                                    Не указано
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div th:if="${boots} != null" id="gtco-post-list">
            <div class="entry">
                <a href="./blog_sample.html">
                    <div class="asd">
                        <div class="entry-img" th:style="'background-image: url(../images/' + ${boots.getItemPicturePath()} + ')'">

                        </div>
                        <div class="entry-desc">
                            <div th:text="${boots.getItemName()}" class="title_eq">
                                Название
                            </div>
                            <div th:text="${boots.getItemDescription()}" class="descr_eq">
                                Описание
                            </div>
                            <div class="size_eq">
                                Размер:&nbsp;
                                <div th:text="${foot}" class="size_num">
                                    Зависит от длины и ширины стопы. Следует уточнить в магазине.
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div th:if="${mount} != null" id="gtco-post-list">
            <div class="entry">
                <a href="./blog_sample.html">
                    <div class="asd">
                        <div class="entry-img" th:style="'background-image: url(../images/' + ${mount.getItemPicturePath()} + ')'">

                        </div>
                        <div class="entry-desc">
                            <div th:text="${mount.getItemName()}" class="title_eq">
                                Название
                            </div>
                            <div th:text="${mount.getItemDescription()}" class="descr_eq">
                                Описание
                            </div>
                            <div class="size_eq">
                                Размер:&nbsp;
                                <div th:if="${mountSize} != null" th:text="${mountSize}" class="size_num">
                                    Подбирается под ботинки
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div th:if="${poles} != null" id="gtco-post-list">
            <div class="entry">
                <a href="./blog_sample.html">
                    <div class="asd">
                        <div class="entry-img" th:style="'background-image: url(../images/' + ${poles.getItemPicturePath()} + ')'">

                        </div>
                        <div class="entry-desc">
                            <div th:text="${poles.getItemName()}" class="title_eq">
                                Название
                            </div>
                            <div th:text="${poles.getItemDescription()}" class="descr_eq">
                                Описание
                            </div>
                            <div class="size_eq">
                                Размер:&nbsp;
                                <div th:if="${poleLen} != null" th:text="${poleLen}" class="size_num">
                                    Не указан
                                </div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
   
    <div class="recomendations_choice">
        <div class="rec_content">
            <div class="title_recom">Дополнительные рекомендации по выбору снаряжения:</div>

            <div th:each="r : ${rec}" class="descr_recom" style="display: flex">
                &bull; <div th:text="${r}" style="display: flex"></div>
            </div>
        </div>

    </div>

    <footer class="section-p1 footer">
        <div class="col">
            <a href="http://localhost:8100">
                <img th:src="@{../images/iconex2.png}" alt="" class="footer_logo" height="60px">
                <div class="footer_logo_title">HILL LIFE</div>
            </a>
        </div>
        <div class="col1">
            <h4>Навигация</h4>
            <a href="http://localhost:8100/blog">Лента</a>
            <a href="http://localhost:8100/resorts">Курорты</a>
            <a href="http://localhost:8100/cart">Инвентарь</a>
        </div>

        <div class="col2">
            <h4>Мой профиль</h4>
            <a href="http://localhost:8100/profile">Войти</a>
            <a href="http://localhost:8100/profile">Зарегистрироваться</a>
            <a href="http://localhost:8100/profile">Помощь</a>
        </div>
        <div class="col3">
            <h4>Контакты</h4>
            <p><strong>Адрес:</strong> г.Москва</p>
            <p><strong>Телефон:</strong> +7(999)999 99 99</p>
            <p><strong>Часы работы:</strong> круглосуточно</p>
        </div>

    </footer>
    <script src="./js/script.js"></script>
<script type="text/javascript">

    var wo = document.getElementsByClassName('wrapper');

    var answ_1 = "";
    var answ_2 = "";
    var answ_3 = "";
    var answ_4 = "";
    var answ_5 = "";
    var answ_6 = "";
    var answ_7 = "";


    function link() {
        var weightNum = document.getElementById('button_w').value;
        if (weightNum < 50) {
            answ_4 = "-49";
        } else if ((weightNum >= 50) && (weightNum <= 59)) {
            answ_4 = "50-59";
        } else if ((weightNum >= 60) && (weightNum <= 69)) {
            answ_4 = "60-69";
        } else if ((weightNum >= 70) && (weightNum <= 79)) {
            answ_4 = "70-79";
        } else if ((weightNum >= 80) && (weightNum <= 89)) {
            answ_4 = "80-89";
        } else if (weightNum > 89) {
            answ_4 = "90+";
        }
        console.log(weightNum);

        var heightNum = document.getElementById('button_h').value;
        if (heightNum < 125) {
            answ_5 = "-124";
        } else if ((heightNum >= 125) && (heightNum <= 139)) {
            answ_5 = "125-139";
        } else if ((heightNum >= 140) && (heightNum <= 154)) {
            answ_5 = "140-154";
        } else if ((heightNum >= 155) && (heightNum <= 169)) {
            answ_5 = "155-169";
        } else if ((heightNum >= 170) && (heightNum <= 184)) {
            answ_5 = "170-184";
        } else if (heightNum > 184) {
            answ_5 = "185-";
        }
        console.log(heightNum);

        var footNum = document.getElementById('button_foot').value;

        answ_7 = document.getElementById('button_foot').value;



        if (answ_1 == "сноуборд") {
            if (answ_3 == "мужской") {
                if(footNum == 37.5){
                    answ_6 = "25.0 см";
                }else if(footNum == 38){
                    answ_6 = "25,0 - 25,5 см";
                }else if(footNum == 38.5){
                    answ_6 = "25,0 - 25,5 см";
                }else if(footNum == 39){
                    answ_6 = "25,5 - 26,0 см";
                }else if(footNum == 39.5){
                    answ_6 = "26,0 см";
                }else if(footNum == 40){
                    answ_6 = "26,0 - 26,5 см";
                }else if(footNum == 40.5){
                    answ_6 = "26,5 см";
                }else if(footNum == 41){
                    answ_6 = "27,0 см";
                }else if(footNum == 41.5){
                    answ_6 = "27,5 см";
                }else if(footNum == 42){
                    answ_6 = "28,0 см";
                }else if(footNum == 42.5){
                    answ_6 = "28,0 - 28,5 см";
                }else if(footNum == 43){
                    answ_6 = "28,5 см";
                }else if(footNum == 43.5){
                    answ_6 = "28,5 - 29,0 см";
                }else if(footNum == 44){
                    answ_6 = "29,0 см";
                }else if(footNum == 44.5){
                    answ_6 = "29,5 см";
                }else if(footNum == 45){
                    answ_6 = "30,0 см";
                }else if(footNum == 46){
                    answ_6 = "30,5 см";
                }else if(footNum == 47){
                    answ_6 = "31,0 см";
                }else if(footNum == 48){
                    answ_6 = "32,0 см";
                }

            } else if (answ_3 == "женский") {
                if(footNum == 33.5){
                    answ_6 = "22,0 см";
                }else if(footNum == 34){
                    answ_6 = "22,5 см";
                }else if(footNum == 34.5){
                    answ_6 = "22,5 - 23,0 см";
                }else if(footNum == 35){
                    answ_6 = "23,0 см";
                }else if(footNum == 35.5){
                    answ_6 = "23,5 см";
                }else if(footNum == 36){
                    answ_6 = "24,0 см";
                }else if(footNum == 36.5){
                    answ_6 = "24,0 - 24,5 см";
                }else if(footNum == 37){
                    answ_6 = "24,5 см";
                }else if(footNum == 37.5){
                    answ_6 = "25,0 см";
                }else if(footNum == 38){
                    answ_6 = "25,0 - 25,5 см";
                }else if(footNum == 38.5){
                    answ_6 = "25,5 см";
                }else if(footNum == 39){
                    answ_6 = "25,5 - 26,0 см";
                }else if(footNum == 39.5){
                    answ_6 = "26,0 см";
                }else if(footNum == 40){
                    answ_6 = "26,5 см";
                }else if(footNum == 40.5){
                    answ_6 = "26,5 - 27,0 см";
                }else if(footNum == 41){
                    answ_6 = "27,0 см";
                }else if(footNum == 41.5){
                    answ_6 = "27,5 см";
                }
            } else if (answ_3 == "детский") {
                if(footNum == 13){
                    answ_6 = "8,0 - 8,5 см";
                }else if(footNum == 14){
                    answ_6 = "9,0 см";
                }else if(footNum == 15){
                    answ_6 = "10,0 см";
                }else if(footNum == 16){
                    answ_6 = "10,0 - 10,5 см";
                }else if(footNum == 17){
                    answ_6 = "11,0 см";
                }else if(footNum == 18){
                    answ_6 = "11,5 - 12,0 см";
                }else if(footNum == 19){
                    answ_6 = "12,5 см";
                }else if(footNum == 20){
                    answ_6 = "13,0 см";
                }else if(footNum == 21){
                    answ_6 = "13,5 - 14,0 см";
                }else if(footNum == 22){
                    answ_6 = "14,5 см";
                }else if(footNum == 23){
                    answ_6 = "15,0 см";
                }else if(footNum == 24){
                    answ_6 = "15,5 - 16,0 см";
                }else if(footNum == 25){
                    answ_6 = "16,5 - 17,0 см";
                }else if(footNum == 26){
                    answ_6 = "17,0 см";
                }else if(footNum == 27){
                    answ_6 = "17,5 - 18,0 см";
                }else if(footNum == 28){
                    answ_6 = "18,0 - 18,5 см";
                }else if(footNum == 29  ){
                    answ_6 = "19,0 см";
                }

            }



        } else if (answ_1 == "лыжи") {
            if (answ_3 == "мужской") {
                if(footNum == 37.5){
                    answ_6 = "25.0 см";
                }else if(footNum == 38){
                    answ_6 = "25,0 - 25,5 см";
                }else if(footNum == 38.5){
                    answ_6 = "25,0 - 25,5 см";
                }else if(footNum == 39){
                    answ_6 = "25,5 - 26,0 см";
                }else if(footNum == 39.5){
                    answ_6 = "26,0 см";
                }else if(footNum == 40){
                    answ_6 = "26,0 - 26,5 см";
                }else if(footNum == 40.5){
                    answ_6 = "26,5 см";
                }else if(footNum == 41){
                    answ_6 = "27,0 см";
                }else if(footNum == 41.5){
                    answ_6 = "27,5 см";
                }else if(footNum == 42){
                    answ_6 = "28,0 см";
                }else if(footNum == 42.5){
                    answ_6 = "28,0 - 28,5 см";
                }else if(footNum == 43){
                    answ_6 = "28,5 см";
                }else if(footNum == 43.5){
                    answ_6 = "28,5 - 29,0 см";
                }else if(footNum == 44){
                    answ_6 = "29,0 см";
                }else if(footNum == 44.5){
                    answ_6 = "29,5 см";
                }else if(footNum == 45){
                    answ_6 = "30,0 см";
                }else if(footNum == 46){
                    answ_6 = "30,5 см";
                }else if(footNum == 47){
                    answ_6 = "31,0 см";
                }else if(footNum == 48){
                    answ_6 = "32,0 см";
                }

            } else if (answ_3 == "женский") {
                if(footNum == 33.5){
                    answ_6 = "22,0 см";
                }else if(footNum == 34){
                    answ_6 = "22,5 см";
                }else if(footNum == 34.5){
                    answ_6 = "22,5 - 23,0 см";
                }else if(footNum == 35){
                    answ_6 = "23,0 см";
                }else if(footNum == 35.5){
                    answ_6 = "23,5 см";
                }else if(footNum == 36){
                    answ_6 = "24,0 см";
                }else if(footNum == 36.5){
                    answ_6 = "24,0 - 24,5 см";
                }else if(footNum == 37){
                    answ_6 = "24,5 см";
                }else if(footNum == 37.5){
                    answ_6 = "25,0 см";
                }else if(footNum == 38){
                    answ_6 = "25,0 - 25,5 см";
                }else if(footNum == 38.5){
                    answ_6 = "25,5 см";
                }else if(footNum == 39){
                    answ_6 = "25,5 - 26,0 см";
                }else if(footNum == 39.5){
                    answ_6 = "26,0 см";
                }else if(footNum == 40){
                    answ_6 = "26,5 см";
                }else if(footNum == 40.5){
                    answ_6 = "26,5 - 27,0 см";
                }else if(footNum == 41){
                    answ_6 = "27,0 см";
                }else if(footNum == 41.5){
                    answ_6 = "27,5 см";
                }

            } else if (answ_3 == "детский") {
                if(footNum == 13){
                    answ_6 = "8,0 - 8,5 см";
                }else if(footNum == 14){
                    answ_6 = "9,0 см";
                }else if(footNum == 15){
                    answ_6 = "10,0 см";
                }else if(footNum == 16){
                    answ_6 = "10,0 - 10,5 см";
                }else if(footNum == 17){
                    answ_6 = "11,0 см";
                }else if(footNum == 18){
                    answ_6 = "11,5 - 12,0 см";
                }else if(footNum == 19){
                    answ_6 = "12,5 см";
                }else if(footNum == 20){
                    answ_6 = "13,0 см";
                }else if(footNum == 21){
                    answ_6 = "13,5 - 14,0 см";
                }else if(footNum == 22){
                    answ_6 = "14,5 см";
                }else if(footNum == 23){
                    answ_6 = "15,0 см";
                }else if(footNum == 24){
                    answ_6 = "15,5 - 16,0 см";
                }else if(footNum == 25){
                    answ_6 = "16,5 - 17,0 см";
                }else if(footNum == 26){
                    answ_6 = "17,0 см";
                }else if(footNum == 27){
                    answ_6 = "17,5 - 18,0 см";
                }else if(footNum == 28){
                    answ_6 = "18,0 - 18,5 см";
                }else if(footNum == 29  ){
                    answ_6 = "19,0 см";
                }

            }

        }









        var q = "";
        q += "sport=";
        q += answ_1;
        q += "&";
        q += "skill=";
        q += answ_2;
        q += "&";
        q += "gender=";
        q += answ_3;
        q += "&";
        q += "weight=";
        q += answ_4;
        q += "&";
        q += "height=";
        q += answ_5;
        q += "&";
        q += "foot=";
        q += answ_6;
        q += "&";
        q += "footsize=";
        q += answ_7;

        console.log(q);
        return q;
    }


    button_sport1.onclick = function () {

        button_sport1.classList.add("push");
        button_sport2.classList.remove("push");

        answ_1 = "сноуборд"
        console.log(answ_1);

        q1.style.display = 'block';



    };
    button_sport2.onclick = function () {

        button_sport2.classList.add("push");
        button_sport1.classList.remove("push");

        answ_1 = "лыжи"
        console.log(answ_1);

        q1.style.display = 'block';
    };

    button_w.onclick = function () {
        button_w.classList.add("push");
        q6.style.display = 'block';


    };
    button_foot.onclick = function () {
        button_foot.classList.add("push");
        q4.style.display = 'block';


    };


    button_skill1.onclick = function () {
        button_skill1.classList.add("push");
        button_skill2.classList.remove("push");
        button_skill3.classList.remove("push");

        answ_2 = "начинающий"
        console.log(answ_2);

        q2.style.display = 'block';

    };
    button_skill2.onclick = function () {
        button_skill2.classList.add("push");
        button_skill1.classList.remove("push");
        button_skill3.classList.remove("push");

        answ_2 = "продвинутый"
        console.log(answ_2);

        q2.style.display = 'block';
    };

    button_skill3.onclick = function () {
        button_skill3.classList.add("push");
        button_skill1.classList.remove("push");
        button_skill2.classList.remove("push");

        answ_2 = "эксперт"
        console.log(answ_2);

        q2.style.display = 'block';
    };



    button_gender1.onclick = function () {
        button_gender1.classList.add("push");
        button_gender2.classList.remove("push");
        button_gender3.classList.remove("push");

        answ_3 = "мужской"
        console.log(answ_3);

        q3.style.display = 'block';
    };

    button_gender2.onclick = function () {
        button_gender2.classList.add("push");
        button_gender1.classList.remove("push");
        button_gender3.classList.remove("push");

        answ_3 = "женский"
        console.log(answ_3);

        q3.style.display = 'block';
    };

    button_gender3.onclick = function () {
        button_gender3.classList.add("push");
        button_gender2.classList.remove("push");
        button_gender1.classList.remove("push");

        answ_3 = "детский"
        console.log(answ_3);

        q3.style.display = 'block';
    };
    //вес

    //вес
    button_h.onclick = function () {
        button_h.classList.add("push");
        q5.style.display = 'flex';
        sel_content.classList.add("wrapper_open");


    };

</script>
</body>

</html>